body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: #f0e4f4;
}

.main-content {
  padding: 50px 20px;
}

.main-content {
  padding: 50px 20px;
}

.gallery-title {
  font-size: 65px;
  font-weight: bold 30px;
  margin-left: 70px;
  margin-top: 55px;
  text-decoration: underline;
}

.first-green-bar {
  background-color: #349239;
  height: 70px;
  width: 100%;
  margin-top: 60px;
}

.environment-image {
  height: 500px;
  width: 100%;
  margin-top: 3px;
}

.second-green-bar {
  background-color: #349239;
  height: 70px;
  width: 100%;
}

main h1 {
  margin-left: 20px;
  margin-top: 40px;
}

main p {
  font-size: 25px;
  margin-left: 20px;
  margin-top: 40px;
}

.environment-curved-image {
  height: 100%;
  width: 100%;
  margin-top: 3px;
}

