body {
  margin: 0;
  font-family: Arial;
  background-color: white;
}


.main-content {
  padding: 50px 20px;
}

.gallery-title {
  font-size: 55px;
  font-weight: bold;
  margin-left: 70px;
  margin-top: 55px;
}

.highlight2 {
  color: #349239;
}

.image-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.image-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.gallery-image {
  margin-right: 40px;
  width: 200%;
  height: 600px;
  border: 5px solid green;
  object-fit: cover;
  border-radius: 20px;
}



