/* payment.css */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.title-container {
  text-align: center;
  margin-top: 5px;
  height: 330px;
}

.title {
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 65px;
  margin-right: 700px;
}

.container {
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.payment-box {
  margin-top: -700px;
  margin-left: 65px;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 500px;
 
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
  margin-left: 10px;
}

.input-field {
  width: 250px; /* Set fixed width */
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #007bff;
  outline: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.submit-btn {
  width: 250px; /* Set fixed width */
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 30px;
  transition: border-color 0.3s;
  background-color: #218838;
  margin-left: 10px;
}

.submit-btn:hover {
  background-color: #218838;
}
.QR-section{
    margin-left: 140px;
}