body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pin-title {
  font-size: 31px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 5px solid #00bfa5;
  margin-left: 20px;
  padding-bottom: 5px;
  margin-top: 30px;
}

.PinNumber-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 100px;
}

.pin-section {
  margin: 40px auto;
  text-align: center;
  padding: 50px;
  background-color: white;
  border-radius: 12px;
  width: 600px;
  height: 500px;
  max-width: 400px;
  box-shadow: 10px 10px 10px 10px rgba(3, 0, 0, 0.1);
  margin-top: 80px;
  margin-left: 700px;
}

.pin-container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  margin-top: 100px;
  max-width: 250px;
  margin-bottom: 30px;
}

.pin-box {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  border-radius: 8px;
  border: 2px solid #ccc;
  outline: none;
  transition: border-color 0.2s ease;
  -webkit-text-security: disc;
  font-family: monospace;
}

.pin-box:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px #4caf50;
}

.submit-btn1 {
  width: 320px;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0px;
}

.submit-btn:hover {
  background-color: #333;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.generate-button{
  font-size: 20px;
}
