body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pin-title {
  font-size: clamp(18px, 4vw, 31px);
  color: black;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 5px solid #00bfa5;
  margin-left: clamp(10px, 3%, 20px);
  padding-bottom: 5px;
  margin-top: 30px;
}

.PinNumber-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 100px;
}

.pin-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  max-width: 400px;
  width: 90%;
  padding: 32px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 10px 10px 10px 10px rgba(3, 0, 0, 0.1);
  box-sizing: border-box;
}

.pin-container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  margin-top: 100px;
  max-width: 250px;
  margin-bottom: 30px;
}

.pin-box {
  width: clamp(40px, 8vw, 50px);
  height: clamp(40px, 8vw, 50px);
  text-align: center;
  font-size: clamp(18px, 3vw, 24px);
  border-radius: 8px;
  border: 2px solid #ccc;
  outline: none;
  transition: border-color 0.2s ease;
  -webkit-text-security: disc;
  font-family: monospace;
}

.pin-box:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px #4caf50;
}

.submit-btn1 {
  width: clamp(150px, 85%, 320px);
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: clamp(14px, 2vw, 16px);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0;
}

.submit-btn:hover {
  background-color: #333;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.generate-button{
  font-size: clamp(14px, 2vw, 20px);
}
